
#bd-email {
    border: 1px solid #ced3d9;
    width: 100%;
    border-radius: 4px;
    display: block;
    padding: 0.75em 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4em;
}

input[type="submit"] {
    display: block;
    background: #0069ff;
    border: 0;
    border-radius: 0.25em;
    color: #fff;
    outline: 0;
    padding: 0.75em 1em;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.portrait {
  padding-right: 15px;
}
